asgiref==3.3.4
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
colorclass==2.2.0
Django==3.2
docopt==0.6.2
idna==2.10
packaging==20.9
psycopg2==2.8.6
pycodestyle==2.7.0
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
terminaltables==3.1.0
toml==0.10.2
urllib3==1.26.4
