{% load static %}
<!DOCTYPE html>

<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Nur Uçar">
    <title>{% block title %}To Do List{% endblock %}</title>

    <!--This is Eric Meyers CSS reset-->
    <link rel="stylesheet" href="{% static "css/css-reset.css" %}">

    <!--This is websites own style sheet-->
    <link rel="stylesheet" , href="{% static "css/style.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div class="brand"><a href="{% url "todolist" %}">To Do List</a></div>
    <div class="header">
        {% if current_user%}
        <a href="#">
            <div class="current_user_name">{{current_user.first_name}}</div>
        </a>
        <a href="{% url "logout" %}">
            <div class="logout">Çıkış Yap</div>
        </a>
        {% elif current_user == none %}
        <a href="{% url "login" %}">
            <div class="login">Giriş Yap</div>
        </a>
        <a href="{% url "register" %}">
            <div class="register">Üye Ol</div>
        </a>

        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>

    {% comment %} <footer></footer>
    {% endcomment %}
</body>


</html>