{% extends "./base.html" %}
{% load static %}
{% block title %}To Do List | Üye Ol{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}-message" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="register-container">

    <form action="{% url 'register'%}" method="post">
        {% csrf_token %}
        <h1>Hesap Oluştur</h1>
        <input type="text" name="full_name" placeholder="İsim Soyisim" />
        <input type="email" name="email" placeholder="E-posta" />
        <input type="password" name="password1" placeholder="Şifre" />
        <input type="password" name="password2" placeholder="Şifre - Tekrar" />

        <button type="submit">Üye Ol</button>
    </form>
</div>
{% endblock  %}