* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f7;
    color: #0D1440;
}

.brand {
    width: 100%;
    height: 30px;
    background-color: #0D1440;
    padding: 15px;
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.brand a {

    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
}

.header {
    width: 100%;
    height: 30px;
    background-color: #0D1440;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.header .current_user_name {
    width: 120px;
    height: 100%;
    padding-top: 5px;
}

.header .login,
.register,
.logout {
    width: 80px;
    height: 100%;
    padding-top: 5px;
}

.register-container {
    padding: 60px 20px;
    min-height: 70vh;
}

.register-container form {
    width: 60%;
    height: 70vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container form input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.register-container form button {
    width: 80px;
    height: 30px;
}

.messages {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    display: flex;
    transition: transform 0.6s ease-in-out;

}

.messages .info-message {
    background-color: #00529B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    color: #fff;
}

.messages .error-message {
    background-color: #D8000C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    color: #fff;
}

.messages .success-message {
    background-color: #4F8A10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    color: #fff;
}

.messages .warning-message {
    background-color: #9F6000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    color: #fff;
}

.main_body {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 5vh;
}

.main_body span {
    display: flex;
    width: 100%;
    height: 8vh;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}


.accordion {
    margin: auto;
    width: 80%;
}

.accordion input {
    display: none;
}

.box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}

.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}



.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 11pt;
    color: rgba(0, 0, 0, .54);
    display: none;
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked+.box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

input:checked+.box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}

input:checked+.box .box-content,
input:checked+.box .box-close {
    display: inline-block;
}

.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0, 0, 0, .54);
}

input:checked+section.box .box-title:before {
    transform: rotate(90deg);
}

.main_body .add_to_do_body {
    width: 70%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20%;
    margin-top: 3vh;
}

.add_to_do_body input {
    width: 250px;
    height: 4vh;
    padding: 5px;
    outline: none;
}

.add_to_do_body button {
    width: 80px;
    height: 4vh;
}

.main_body .add_to_do {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}

.add_to_do img {
    width: initial;
    height: initial;
}

#pop-up {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2%;
    box-shadow: 0 5px 30px#999;
    background-color: #f5f5f7;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#pop-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#pop-up input {
    width: 250px;
    height: 3vh;
    margin-bottom: 1vh;
    padding: 10px;
}

#pop-up textarea {
    width: 250px;
    height: 25vh;
    margin-bottom: 1vh;
    padding: 10px;
    resize: none;
}

#pop-up.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.main_body#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}